APP_ENV=production
APP_DEBUG=true
APP_URL=https://inventory-management-app.onrender.com
APP_KEY=base64:turh545yR2DZ+T+hevC82yGDtjA66c8SX/UXyMlS1NI=
DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

CACHE_STORE=file
QUEUE_CONNECTION=sync